form
	{
	background-color:#F0F8FF;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	}
h1{
	text-transform:uppercase;
	text-align:center;
}